<li class="nav-item" >
    <a class="nav-link f32" ng-click="vm.openLocaleMarketCurrencyModal()">
    <div class="flag {{vm.selectedMarketIds[0]|lowercase}}"><div class="" style="padding-left: 40px; line-height:34px; height:32px">{{vm.selectedCurrencyId}}</div></div>    
    </a>
</li>