@{
  
    ViewBag.PageTitle = "Thanks";
    ViewBag.Blog = true;
}

<p class="bold">
    Your message has successfully been sent. Thanks for contacting me.
</p>

<p>
    @Html.RouteLink("Back to home", "home")
</p>
