<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <connectionStrings>
    <add name="DefaultStringLocalDb" connectionString="Data Source=(LocalDb)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\DNDDB.mdf;Initial Catalog=DND;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnectionString" connectionString="Data Source=Dave; Initial Catalog=DND; Integrated Security=true; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultMongoConnectionString" connectionString="mongodb://localhost"/>
  </connectionStrings>
  <!--<system.net>
    <connectionManagement>
      <add address = "*" maxconnection = "65535" />
    </connectionManagement>
  </system.net>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=Dave; Integrated Security=true; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>C:\Development\DND\DND\Web.config
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="AssemblyPrefix" value="DND" />
    <add key="DefaultMongoDatabaseName" value="DND" />
    
    <add key="Timezone" value="AUS Eastern Standard Time" />
    <add key="TimezoneAbbr" value="AEST" />
    <add key="SiteTitle" value="Digital Nomad Dave" />
    <add key="SiteDescription" value="The official website of Digital Nomad Dave. Blog Posts about becoming a Digital Nomad, Budget Travel and Photography." /> <!--70 and 160 characters-->

    <add key="SiteLogoLarge" value="~/uploads/social-media/logo-large.png" />
    <add key="SiteLogoSmall" value="~/favicon-96x96.png" />

    <add key="SiteShareImage" value="~/uploads/social-media/share-image.jpg" />
    <add key="SiteAboutMeImage" value="~/uploads/social-media/me.jpg" />
    <add key="SiteFooterImage" value="~/uploads/social-media/footer.png" />

    <add key="ImageWatermarkShareEnabled" value="false" />
    <add key="ImageWatermarkEnabled" value="false" />
    <add key="ImageWatermark" value="~/apple-touch-icon-60x60.png" />
    <add key="ImageWatermarkMinWidth" value="700" />
    <add key="ImageWatermarkMinHeight" value="700" />
    
    <add key="SiteKeyWords" value="Travel Blog, Travel, Adventure, Photography, Digital Nomad, Blog, Explore, Cheap, Tips, Photos, Photography, Overseas, Wanderlust, GoPro, Journal" />
    <add key="SiteAuthor" value="Dave" />
    <add key="SiteUrl" value="http://www.digitalnomaddave.com" />
    <add key="Domain" value="digitalnomaddave" />

    <add key="BodyFont" value="Roboto" />
    <add key="NavBarFont" value="Amatic SC" />
    <add key="NavBarFontStyleCSS" value="padding-top: 0.2em !important; padding-bottom:0.2em !important; font-weight:900; font-size:1.4rem;" />

    <!--https://developers.facebook.com/docs/plugins/comments-->
    <add key="FacebookAppId" value="1487686391295743" />
    <add key="DisqusShortName" value="" />
    <!--<add key="DisqusShortName" value="digitalnomaddave" />-->
    <add key="AddThisId" value="ra-538b293830d2b15e" />
    <add key="GoogleMapsApiKey" value="AIzaSyCddzi9VBIbI57tsJHqfBcgS9mpHX4itFA" />
    <add key="InstagramUserId" value="231022169" />
    <add key="InstagramAccessToken" value="231022169.60d8eef.59c2b28825cc40f490c7ff69b9d170e9" />
    <add key="GoogleAnalyticsTrackingId" value="UA-100889775-1" />
    <add key="GoogleAdSenseId" value="ca-pub-2984628878503409" />
    
    <add key="RSSFeed" value="true" />

    <add key="EmailToDisplayName" value="David Ikin Admin" />
    <add key="EmailFromDisplayName" value="Digital Nomad Dave" />
    <add key="EmailFromEmail" value="davidikin45@gmail.com" />
    <add key="EmailToEmail" value="davidikin45@gmail.com" />
    
    <add key="EmailUsername" value="test@gmail.com" />
    <add key="EmailPassword" value="password" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailSsl" value="true" />

    <add key="GitHubLink" value="https://github.com/davidikin45/DigitalNomadDave" />
    <add key="InstagramLink" value="http://www.instagram.com/diker45" />
    <add key="FacebookLink" value="https://www.facebook.com/david.ikin" />
    <add key="LinkedInLink" value="https://www.linkedin.com/in/david-ikin/" />

    <add key="PublicUploadFolders" value="uploads/blog,uploads/gallery,uploads/carousel,uploads/bucket-list,uploads/social-media,uploads/carousel,uploads/advertisements,uploads/parellax,uploads/testimonials,uploads/projects" />
    <add key="Folder:Uploads" value="~/uploads/" />
    <add key="Folder:Gallery" value="~/uploads/gallery/" />
    <add key="Folder:BucketList" value="~/uploads/bucket-list/" />
    <add key="Folder:SocialMedia" value="~/uploads/social-media/" />
    <add key="Folder:Carousel" value="~/uploads/carousel/" />
    <add key="Folder:Advertisements" value="~/uploads/advertisements/" />
    <add key="Folder:Parellax" value="~/uploads/parellax/" />
    <add key="Folder:Projects" value="~/uploads/projects/" />
    <add key="Folder:Testimonials" value="~/uploads/testimonials/" />  
    <add key="Folder:FFMpeg" value="~/App_Data/ffmpeg/" />

    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!--<add key="vs:EnableBrowserLink" value="false"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--https://stackoverflow.com/questions/565239/any-way-to-clear-flush-remove-outputcache/16038654-->
          <!--Any, Client, Downstream, Server, None, ServerAndClient-->
          <add name="Cache24HourNoParams" duration="86400" varyByParam="None" location="Any" varyByCustom="CacheExpiryKey" />
          <add name="Cache24HourParams" duration="86400" varyByParam="*" location="Any" varyByCustom="CacheExpiryKey" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7" enableVersionHeader="false" />
    <httpModules />
    <!--mode="RemoteOnly,On,Off"-->
    <customErrors mode="Off" />
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-AU" uiCulture="en-AU" />
    <machineKey decryptionKey="B3DA10A2C7A4188270B2462709F8BE2CF0184E1F89CB0AAA" validationKey="DAE1AC0F2FD078D011FD257639542EA353F9EA5A18C4AF3E85F32896195167B24A0813BB9DF86678B01F6E5C864A903D34CBA654A5F9E4177ED6B054350B4356" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="StaticContentHandlerUploads" path="uploads/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="StaticContentHandlerMetadata" path="admin/metadata/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="StaticContentHandlerFileMetadata" path="admin/file-metadata/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
    <!--Max cache size 512kb-->
    <!--https://technet.microsoft.com/en-us/library/cc771895(v=ws.10).aspx-->
    <caching maxResponseSize="512000">
        <profiles>
          <!--https://stackoverflow.com/questions/36405962/difference-between-kernel-mode-and-user-mode-caching-in-iis-8-0-->
          <!--https://docs.microsoft.com/en-us/iis/manage/managing-performance-settings/walkthrough-iis-output-caching-->
          <add extension=".jpg" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" varyByQueryString="*" location="Server" />
        </profiles>
      </caching>
    <!--Only cached if hit twice in 10 seconds -->
    <!--<serverRuntime enabled="true" frequentHitThreshold="2" frequentHitTimePeriod="00:10:00"  />-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--Custom,DetailedLocalOnly
    existingReponse - Specifies what happens to an existing response when the HTTP status code is an error, i.e. response codes >= 400. Default = Auto
    Auto = Leaves the response untouched only if the TrySkipIisCustomErrors flag is set.
    Replace = Replaces the existing response even if the SetStatus flag is set
    Passthrough = Leaves the response untouched if an existing response exists.-->
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="403" path="/error/UnauthorizedAccess_403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/error/NotFound_404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/ServerError_500" responseMode="ExecuteURL" />
    </httpErrors>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <security>
      <requestFiltering removeServerHeader="true"></requestFiltering>
    </security>
  </system.webServer>
  <!--<system.applicationHost>-->
    <!--streaming-->
    <!--<webLimits connectionTimeout="00:01:00"
       dynamicIdleThreshold="150"
       headerWaitTimeout="00:00:30"
       minBytesPerSecond="0"
      />-->
  <!--</system.applicationHost>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.0" newVersion="5.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>