@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.PageTitle = "Server Error";
    ViewBag.NoFollow = true;
    Response.StatusCode = 500;
}

<p>500 - Server Error</p>

@if (Model != null && Request.IsLocal)
{
    <p>
        Exception Type: @Model.Exception.GetType().Name
        <br />
        Controller: @Model.ControllerName
        <br />
        Action: @Model.ActionName
    </p>
    <pre>
        @Model.Exception.ToString()
    </pre>
}